<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cynox.css">
    <title>Cynox API - <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site__title">
            <a href="/">Cynox</a>
            <p>API | Documentation</p>
        </div>
        <ul>
            <li><a href="/docs/finance">Finance</a></li>
            <li><a href="/docs/academics">Academics</a></li>
            <li><a href="/docs/courses">Courses</a></li>
            <li><a href="/docs/students">Students</a></li>
            <li><a href="/docs/lecturer">Lecturer</a></li>
            <li><a href="/docs/results">Results</a></li>
            <li><a href="/docs/calendar">Calendar</a></li>
            <li><a href="/docs/exams">Exams</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>